@import url('https://fonts.googleapis.com/css?family=Lato:300|Marvel|Open+Sans+Condensed:300,700');
td {border: 0.1px solid;}
h1 {text-align: center; color: red; font-family: 'Marvel', sans-serif;}
video {align-content: center}
th {font-family: 'Open Sans Condensed', sans-serif;}
td, p, .video {color: white; font-family: 'Lato', sans-serif;}
p.video {color: black; font-weight: bold;}
p {color: white; line-height: 20px; text-align: justify;}
body {background-color: royalblue;}
#divMain{
  width: 40%;
  margin: auto;
  padding: 10px;
  text-align: center;}